.AgiluxCoreServicesContainer {
    padding: 0rem 3rem;
    /* background-color: white; */
    color: rgb(255, 255, 255);
}

.AgiluxCoreServicesContainer h4 {
    color: rgb(255, 255, 255);
}

.AgiluxCoreServicesContainer h2 {
    font-size: 60px;
    font-weight: 100;
    /* margin: 10px 0px; */
    margin-top: 0px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

.AgiluxServicesContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.119);
    position: relative;

}

.AgiluxServicesContainer::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.411);
    /* background-color: rgba(0, 0, 0, 0.126); */
    transition: width 0.5s ease;
}

.AgiluxServicesContainer:hover .InsideFlexContainer {
    padding: 3rem 0rem;

    transition: .5s;
}


.AgiluxServicesContainer:hover::before {
    width: 100%;
}

.InsideFlexContainer {
    display: flex;
    padding: 2rem 0rem;
    padding-top: 0rem !important;
    transition: .5s;
    position: relative;
    justify-content: space-between;
    position: relative;
    /* align-items: center; */
}

.AbsoluteImage {
    position: absolute;
    width: 300px;
    opacity: 0.2;
    left: 20%;
}

.InsideFlexContainer h2 {
    color: white;
    font-weight: 400;
    margin: 0px;
    font-size: 25px;
    width: 60%;
}

.InsideFlexContainer>div:first-child {
    width: 50%;
    display: flex;
    /* align-items: center; */
}

.InsideFlexContainer>div:last-child {
    width: 100%;
}

.InsideFlexContainer .AnimatedHoverImage {
    position: absolute;
    width: 400px;
    left: 19%;
    top: -10%;
    opacity: 0;
    transition: 1s;

}

.InsideFlexContainer:hover .AnimatedHoverImage {
    position: absolute;
    width: 400;
    left: 19%;
    top: 4;
    opacity: 1;
    transition: 1s;
    border-radius: 20px;
}

.InsideFlexContainer:hover .AnimatedHoverImage:hover {
    opacity: 1;
}
.ServicesPointsAndDescription div:first-child p{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1px dashed rgba(255, 255, 255, 0.388);
}
.ServicesPointsAndDescription div:first-child p span {
    color: white;
    font-weight: 400;
    padding: 20px 0px;
    font-size: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.ServicesPointsAndDescription div:first-child p svg{
    position: absolute;
    right: 0px;
    /* top: 0px; */
    height: 40px;
    border-radius: 10px;
    padding: 0px 12px;
    background-color: white;
    opacity: 0;
    transform: scale(0);
    transition: .5s;


}

.ServicesPointsAndDescription div:first-child p:hover svg{
    position: absolute;
    right: 0px;
    /* top: 0px; */
    height: 40px;
    border-radius: 10px;
    padding: 0px 12px;
    background-color: white;
    color: black;
    opacity: 1;
    transform: scale(1.1);
    transition: .5s;

}
.ServicesPointsAndDescription div:last-child p {
    border-top: 1px dashed rgba(255, 255, 255, 0.388);
}

.EveryRow {
    padding-bottom: 4rem;
}

.RightSideImageContainer {
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: end;
    /* flex-direction: column; */

}

.RightSideImageContainer img {
    width: 50%;
    border-radius: 20px;
}

@media (max-width:679px) {
    .InsideFlexContainer .AnimatedHoverImage {
        position: absolute;
        width: 100%;
        left: 0%;
        top: -10%;
        opacity: 0;
        transition: 1s;

    }

    .InsideFlexContainer:hover .AnimatedHoverImage {
        position: absolute;
        width: 100%;
        left: 0%;
        top: 4;
        opacity: 1;
        transition: 1s;
        border-radius: 20px;
    }

    .AgiluxCoreServicesContainer h2 {
        font-size: 40px;
        font-weight: 100;
        /* margin: 10px 0px; */
        margin-top: 0px;
        margin-bottom: 10px;
        color: white;
    }

    .InsideFlexContainer h2 {
        color: white;
        font-weight: 400;
        margin: 0px;
        font-size: 25px;
        width: 100%;
    }

    .AgiluxCoreServicesContainer {
        padding: 0rem 1rem;
        /* background-color: white; */
        color: white;
    }

    .InsideFlexContainer {
        display: flex;
        flex-direction: column;
        padding: 2rem 0rem;
        transition: .5s;
    }

    .InsideFlexContainer>div:first-child {
        width: 100%;
        display: flex;
        /* align-items: center; */
    }

    .InsideFlexContainer>div:last-child {
        width: 100%;
        margin: 10px 0px;
    }
}