.DescriptionContainer{
    padding: 0rem 8rem;
}

.DescriptionContainer p b{
    font-weight: 400;
}
.DescriptionContainer p{
    margin-bottom: 10px;
}

@media (max-width:769px){
    .DescriptionContainer{
        padding: 0rem 1rem;
    }
}
.DescriptionContainer img{
    width: 100%;
    margin-bottom: 2rem;
}
