.AgiluxAboutUs {
    padding: 0rem 8rem;
}

.CarousalCard {
    min-height: 30vh;
    background-color: rgb(28, 28, 28);
    margin-bottom: 2rem;
}

.AgiluxProcessContainer .SwiperContentContainer {
    margin-bottom: 3rem;
}

.AgiluxProcessContainer .anothercontainer {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
}

.AgiluxProcessContainer img {
    width: 100%;
    height: 100%;

}

@media (max-width:769px){
    .AgiluxAboutUs {
        padding: 0rem 1rem;
    }
}